.accordion {
  position: relative;
  transition: var(--td-fast) var(--tf-primary);
  
  &:not(.is-collapsed):not(:last-child) {
    margin-bottom: var(--s-lg);
  }
}

.accordion__body {
  position: relative;
  margin-top: var(--s-base);
  opacity: 1;
  visibility: visible;
  transition: var(--td-fast) var(--tf-primary);
  
  .accordion.is-collapsed & {
    max-height: 0;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.accordion__toggle-button {
  width: 100%;
  padding-left: var(--p-base) !important;
  padding-right: var(--p-base) !important;
  text-align: left;
  transition: var(--td-base) var(--tf-primary);
  
  .accordion.is-collapsed & {
    height: var(--h-smr);
    color: var(--fg-3) !important;
  }
}

.accordion__toggle-icon {
  transition: inherit;
  
  .accordion:not(.is-collapsed) & {
    rotate: 90deg;
  }
}