.modal-container {
  position: relative;
  height: min-content;
}

.modal {
  /* display: flex;
  align-content: flex-start;
  flex-wrap: wrap; */
  position: absolute;
  padding: var(--p-base);
  background: var(--bg-container);
  box-shadow: var(--bs-lg) var(--bsc-ntrl);
  border-radius: var(--br-lg);
  transition: all var(--td-fast) var(--tf-primary), background-color var(--td-base) var(--tf-primary), box-shadow var(--td-base) var(--tf-primary), border-color var(--td-base) var(--tf-primary);
  visibility: hidden;
  opacity: 0;
  overflow-x: clip;
  overflow-y: auto;

  &.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }

  &.is-visible {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
}

.modal__header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--h-sm);
  margin-bottom: var(--s-lg);
  color: var(--fg-1);
}

.modal__heading {
  font-size: var(--fs-lg);
  font-weight: 700;
}

.modal__close-button {
  margin-left: auto;
}

.modal:has(> .menu) {
  box-shadow: var(--bs-base) var(--bsc-ntrl);

  &:has(.scrollbar.is-visible) {
    gap: var(--s-sm);
  }

  &.is-hidden {
    transform: translateY(0px);
  }
  
  &.is-visible {
    &:not(.modal--offset-top) {
      transform: translateY(5px);
    }

    &.modal--offset-top {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 450px) {
  .modal__header {
    justify-content: center;
  }

  .modal__heading {
    font-size: var(--fs-base);
  }
  
  .modal__close-button {
    position: absolute;
    right: 0;
  }
}