.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--s-lg);
  width: 40%;
  height: 100%;
  padding: var(--p-lgr);
  margin-left: auto;
  background: color-mix(in srgb, var(--bg-container) calc(var(--o-base) * 100%), transparent);
}

.form__mode {
  display: flex;
  gap: var(--s-sm);
  width: 100%;
  margin-bottom: var(--s-base);
}

.form__heading {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  margin-bottom: var(--s-base);
}

.form__user-info {
  display: flex;
  flex-direction: column;
  gap: var(--s-lg);
}

.form__input-container {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: var(--p-sm);
  border: var(--bw-base) solid var(--bc-ntrl-dk);
  border-radius: var(--br-base);
  transition: all var(--td-base) var(--tf-primary), outline 0ms;

  &:hover {
    border-color: var(--bc-ntrl-lt);
  }

  &:has(input:focus-visible) {
    outline: var(--bw-base) solid var(--bc-ntrl-lt);
  }
}

.form__input {
  width: 100%;
  height: var(--h-sm);
  padding: 0 var(--p-base);
  line-height: var(--l-h-lgr);

  &:focus-visible {
    outline: none;
  }
}

.form__options {
  display: flex;
}

.form__login-btn {
  margin: var(--s-base) 0;
}

.form__footer {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 450px) {
  .form {
    width: 100%;
    height: unset;
    border-radius: var(--br-lg);
  }
}